/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Note: This sets the <html> element's font-size to 62.5%, which
 * equals 10px (for default browser font size of 16px).
 * This allows rem units to be calculated more intuitively.
 *
 * Font size strategy
 * - <html> element font size set as a percentage so that font sizes are accessible
 *   if the user resizes the text size in their browser.
 * - Font size set on the <body> tag is a rem. A direct relation to the HTML element.
 * - Font sizes for components should be rem. For example, the font size of the navigation
 *   should be set as a rem. The relation is to the <html> tag, which by default is 10px.
 * - Font sizes of elements within a component should be em to be relative to the component.
 *   For example, a navigation link within the navigation menu would be set to an em font size,
 *   which would then be in relation to the navigation component (assuming that a font size in rem
 *   was set on the navigation item).
 *
 * References that influenced this approach:
 * https://css-tricks.com/rem-global-em-local/
 * http://clagnut.com/blog/2384/
 */

/* Base */
:root {
    --base-typography-fontFamily: var(--theme-typography-fontFamily);
    --base-typography-color: var(--theme-typography-color);
    
    /* Extra */
    --base-typography-spacing: 25px;
    --base-typography-hrule-width: 1px;
}

/* Links */
:root {
    --base-typography-link-color: var(--theme-typography-link-color);
    --base-typography-link-colorHover: var(--theme-typography-link-colorHover);
}

/* General
   ========================================================================== */

/**
 * Set the base font size to be a percentage so that it's more accessible to browser text zooming
 * 62.5% = 10px = 1rem
 */

html {
    font-size: 62.5%;
}

/**
 * Set body defaults for other elements to inherit
 */

body {
    color: var(--base-typography-color);
    font-family: var(--base-typography-fontFamily);
    font-size: calc(var(--base-typography-fontSize) * .9);
    font-weight: var(--base-typography-fontWeight);
    letter-spacing: var(--base-typography-letterSpacing);
    line-height: var(--base-typography-lineHeight);
}

@media (--c-bp-md) {
    body {
        font-size: var(--base-typography-fontSize);
    }
}

/**
 * Consistent spacing on block elements
 */

address,
blockquote,
dl,
figure,
hr,
ol,
p,
ul {
    margin: 0 0 var(--base-typography-spacing);
}

/**
 * Blockquote
 */

blockquote {
    border-left: 10px solid #ccc;
    margin: var(--base-typography-spacing) calc(var(--base-typography-spacing) * .7);
    padding: .5em 1em;
    position: relative;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

/**
 * Links
 */

a {
    color: var(--base-typography-link-color);
    text-decoration: var(--base-typography-link-textDecoration);
    transition: all 250ms;
}

a:hover {
    color: var(--base-typography-link-colorHover);
    text-decoration: var(--base-typography-link-textDecorationHover);
}

/**
 * Default styling for telephone links to not look like links
 */
a[href^=tel],
a[href^=tel]:active,
a[href^=tel]:focus,
a[href^=tel]:hover {
    color: inherit;
    text-decoration: none;
}

/**
 * Lists
 */

ol,
ul {
    padding-left: 2.4em;
}

li > ol,
li > ul {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0;
}

/**
 * Inline abbreviations
 */

abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

/**
 * Reset browser default
 */

address {
    font-style: normal;
}

/**
 * 1. Remove default hr shading.
 * 2. Inherit text or parent border color.
 */

hr {
    border-style: solid; /* 1 */
    border-width: var(--base-typography-hrule-width) 0 0 0;
    color: inherit; /* 2 */
}

/* Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: var(--theme-typography-heading-color);
    font-family: var(--theme-typography-heading-fontFamily);
    font-weight: var(--base-typography-heading-fontWeight);
    letter-spacing: var(--base-typography-heading-letterSpacing);
    margin: var(--base-typography-spacing) 0 calc(var(--base-typography-spacing) / 2);
    text-transform: var(--base-typography-heading-textTransform);
}

h1,
.h1 {
    font-size: var(--base-typography-h1-fontSize);
    line-height: var(--base-typography-h1-lineHeight);
    margin-top: 0;
}

h2,
.h2 {
    font-size: var(--base-typography-h2-fontSize);
    line-height: var(--base-typography-h2-lineHeight);
}

h3,
.h3 {
    font-size: var(--base-typography-h3-fontSize);
    line-height: var(--base-typography-h3-lineHeight);
}

h4,
.h4 {
    font-size: var(--base-typography-h4-fontSize);
    line-height: var(--base-typography-h4-lineHeight);
}

h5,
.h5 {
    font-size: var(--base-typography-h5-fontSize);
    line-height: var(--base-typography-h5-lineHeight);
}

h6,
.h6 {
    font-size: var(--base-typography-h6-fontSize);
    line-height: var(--base-typography-h6-lineHeight);
}
