{{ form.openTag }}
    <div class="Container--small">
        <div class="flex gx-2">
            {% set form.fields.searchTerm.placeholder = "Search the site..." %}
            {% set form.fields.searchTerm.class = "TextInput" %}
            {{ form.fields.searchTerm.tag }}
            <button class="Button" type="submit">Search</button>
        </div>
    </div>
{{ form.closeTag }}
