/* =========================================================================== *\
    Image Slider
\* =========================================================================== */

/* :root {
    --ImageSlider-background: #f2f2f2;
    --ImageSlider-color: var(--base-typography-color);
    
    --ImageSlider-title-font-size: 2rem;
    --ImageSlider-title-font-weight: 400;
    --ImageSlider-title-background: #f2f2f2;
    --ImageSlider-title-color: #fff;
    --ImageSlider-title-background-hover: #f2f2f2;
    --ImageSlider-title-color-hover: #fff;
    
    --ImageSlider-hover-background: #f2f2f2;
    --ImageSlider-hover-color: #fff;
    
    --ImageSlider-cover-background: #f2f2f2;
    --ImageSlider-cover-color: #fff;
} */

/* @define ImageSlider */

.ImageSlider {
    background: var(--ImageSlider-background);
    color: var(--ImageSlider-color);
}

.ImageSlider-inner {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: var(--Container-width);
    padding: 0 50px;
    position: relative;
}

.ImageSlider-slide {
    box-sizing: border-box;
    position: relative;
}

.ImageSlider-slide--spaced {
    margin: 0 10px;
}

.ImageSlider-image {
    height: auto;
    width: 100%;
}

@supports (object-fit: cover) {
    .ImageSlider-slide {
        display: flex;
        flex-direction: column;
    }

    .ImageSlider-imageWrap {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }

    .ImageSlider-image {
        flex: 1 1 auto;
        object-fit: cover;
    }
}

/* ------------------------------------ *\
    Slider Content
\* ------------------------------------ */

.ImageSlider-title {
    background: var(--ImageSlider-title-background);
    box-sizing: border-box;
    color: var(--ImageSlider-title-color);
    font-size: var(--ImageSlider-title-font-size);
    font-weight: var(--ImageSlider-title-font-weight);
    letter-spacing: 1px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

@media (--c-bp-lg) {
    .ImageSlider-title {
        font-size: 1em;
    }
}

.ImageSlider-link {
    color: var(--ImageSlider-title-color);
    display: block;
    text-decoration: none;
}

.ImageSlider-link:active,
.ImageSlider-link:focus,
.ImageSlider-link:hover {
    background: var(--ImageSlider-title-background-hover);
    color: var(--ImageSlider-title-color-hover);
    text-decoration: none;
}

.ImageSlider-content {
    padding: 4px 8px 0;
    text-align: center;
}

/* postcss-bem-linter: ignore */

.ImageSlider-content *:last-child {
    margin-bottom: 0;
}

.ImageSlider-gridContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ImageSlider-gridContent .ImageSlider-title,
.ImageSlider-gridContent .ImageSlider-link,
.ImageSlider-gridContent .ImageSlider-link:active,
.ImageSlider-gridContent .ImageSlider-link:focus,
.ImageSlider-gridContent .ImageSlider-link:hover {
    background: transparent;
    color: var(--base-typography-color);
}

.ImageSlider-gridContent .ImageSlider-link:active,
.ImageSlider-gridContent .ImageSlider-link:focus,
.ImageSlider-gridContent .ImageSlider-link:hover {
    text-decoration: underline;
}

.ImageSlider-gridContent .ImageSlider-content {
    padding: 12px;
}

/* ------------------------------------ *\
    Image Grid Hover
\* ------------------------------------ */

.ImageSlider-hover {
    position: relative;
}

.ImageSlider-hoverContent {
    background: var(--ImageSlider-hover-background);
    box-sizing: border-box;
    color: var(--ImageSlider-hover-color);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.ImageSlider-hoverContentInner {
    box-sizing: border-box;
    left: 0;
    max-height: 100%;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.ImageSlider-hoverContentHeading,
.ImageSlider-hoverContentHeading:active,
.ImageSlider-hoverContentHeading:focus,
.ImageSlider-hoverContentHeading:hover {
    background: transparent;
    color: var(--ImageSlider-hover-color);
    font-size: var(--ImageSlider-title-font-size);
    font-weight: var(--ImageSlider-title-font-weight);
    margin-bottom: 15px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.ImageSlider-hoverContentHeading::after {
    border-top: 1px solid var(--ImageSlider-title-color);
    bottom: -4px;
    content: '';
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 10%;
}

.ImageSlider-hoverContentWrap {
    font-size: 1.5rem;
}

.ImageSlider-hover:hover .ImageSlider-hoverContent {
    display: block;
}

.ImageSlider-hoverLink,
.ImageSlider-hoverLink:active,
.ImageSlider-hoverLink:focus,
.ImageSlider-hoverLink:hover {
    color: var(--ImageSlider-hover-color);
    text-decoration: none;
}

/* ------------------------------------ *\
    Image Grid Content Covering Image
\* ------------------------------------ */

.ImageSlider-cover {
    position: relative;
}

.ImageSlider-coverContent {
    background: var(--ImageSlider-cover-background);
    box-sizing: border-box;
    color: var(--ImageSlider-cover-color);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    top: 0;
    width: 100%;
}

.ImageSlider-coverContentInner {
    box-sizing: border-box;
    left: 0;
    max-height: 100%;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.ImageSlider-coverContentHeading,
.ImageSlider-coverContentHeading:active,
.ImageSlider-coverContentHeading:focus,
.ImageSlider-coverContentHeading:hover {
    background: transparent;
    color: var(--ImageSlider-cover-color);
    font-size: var(--ImageSlider-title-font-size);
    font-weight: var(--ImageSlider-title-font-weight);
    margin-bottom: 15px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.ImageSlider-coverContentHeading::after {
    border-top: 1px solid var(--ImageSlider-title-color);
    bottom: -4px;
    content: '';
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 10%;
}

.ImageSlider-coverLink:active .ImageSlider-coverContentHeading::after,
.ImageSlider-coverLink:focus .ImageSlider-coverContentHeading::after,
.ImageSlider-coverLink:hover .ImageSlider-coverContentHeading::after {
    width: 50%;
}

.ImageSlider-coverContentWrap {
    font-size: 1.5rem;
}

.ImageSlider-coverLink,
.ImageSlider-coverLink:active,
.ImageSlider-coverLink:focus,
.ImageSlider-coverLink:hover {
    color: var(--ImageSlider-cover-color);
    text-decoration: none;
}

/* ------------------------------------ *\
    Splide Overrides
\* ------------------------------------ */

/* postcss-bem-linter: ignore */
.ImageSlider .splide__arrow {
    background-color: #fff;
    border-radius: 0;
    height: 100%;
    opacity: 1;
}

/* postcss-bem-linter: ignore */
.ImageSlider .splide__arrow:hover {
    background: var(--theme-image-slider-hover-background);
    opacity: 1 !important;
}

/* postcss-bem-linter: ignore */
.ImageSlider .splide__arrow:hover svg {
    fill: var(--theme-image-slider-hover-color);
}

/* postcss-bem-linter: ignore */
.ImageSlider .splide__arrow--prev {
    left: 0;
}

/* postcss-bem-linter: ignore */
.ImageSlider .splide__arrow--next {
    right: 0;
}

/* postcss-bem-linter: ignore */
.splide__dots--left .splide__pagination {
    justify-content: flex-start !important;
}

/* postcss-bem-linter: ignore */
.splide__dots--right .splide__pagination {
    justify-content: flex-end !important;
}

/* postcss-bem-linter: ignore */
.splide__track--nav > .splide__list > .splide__slide.is-active {
    border-color: var(--theme-image-slider-hover-background) !important;
}

@media (--c-bp-md) {

    /* postcss-bem-linter: ignore */
    .splide__pagination {
        bottom: -27px !important;
    }

    /* postcss-bem-linter: ignore */
    .splide__pagination__page.is-active {
        background-color: var(--theme-primary-color) !important;
        opacity: 1;
    }

    /* postcss-bem-linter: ignore */
    .splide__dots--left .splide__pagination {
        justify-content: center !important;
    }
}
