/* ==========================================================================
   Button
   Adds styles to the Cacao Button component
   ========================================================================== */

/** @define Button */

/**
 * Provides a structural UI button template ready to be extended
 *
 * The button classes are best applied to links and buttons.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

/**
 * 1. Prevent button text from being selectable.
 */

.Button,
.Button[href^='tel'] {
    align-items: center;
    background: var(--Button-background);
    border: var(--Button-border-width) solid var(--Button-border-color);
    border-radius: var(--Button-border-radius);
    color: var(--Button-typography-color);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--Button-typography-font-family);
    font-size: var(--Button-typography-font-size);
    font-style: var(--Button-typography-font-style);
    font-weight: var(--Button-typography-font-weight);
    letter-spacing: var(--Button-typography-letter-spacing);
    line-height: var(--Button-typography-line-height);
    margin: 0;
    padding: var(--Button-padding);
    text-align: center;
    text-decoration: var(--Button-typography-text-decoration);
    text-shadow: none; /* Done in case this is within another element that has text-shadow applied to it */
    text-transform: var(--Button-typography-text-transform);
    user-select: none; /* 1 */
}

/**
 * UI States
 */

.Button:hover,
.Button[href^='tel']:hover,
.Button:focus,
.Button[href^='tel']:focus,
.Button:active,
.Button[href^='tel']:active {
    background: var(--Button-background-hover);
    border-color: var(--Button-border-color-hover);
    color: var(--Button-typography-color-hover);
    font-style: var(--Button-typography-font-style-hover);
    text-decoration: var(--Button-typography-text-decoration-hover);
}

/**
 * Color variants
 */

.Button--alt,
.Button--alt[href^='tel'] {
    background: var(--Button-alt-background, var(--Button-background));
    border: var(--Button-alt-border-width, var(--Button-border-width)) solid
        var(--Button-alt-border-color, var(--Button-border-color));
    border-radius: var(--Button-alt-border-radius, var(--Button-border-radius));
    color: var(--Button-alt-typography-color, var(--Button-typography-color));
    font-family: var(--Button-alt-typography-font-family, var(--Button-typography-font-family));
    font-size: var(--Button-alt-typography-font-size, var(--Button-typography-font-size));
    font-style: var(--Button-alt-typography-font-style, var(--Button-typography-font-style));
    font-weight: var(--Button-alt-typography-font-weight, var(--Button-typography-font-weight));
    letter-spacing: var(--Button-alt-typography-letter-spacing, var(--Button-typography-letter-spacing));
    line-height: var(--Button-alt-typography-line-height, var(--Button-typography-line-height));
    padding: var(--Button-alt-padding, var(--Button-padding));
    text-decoration: var(--Button-alt-typography-text-decoration, var(--Button-typography-text-decoration));
    text-shadow: none; /* Done in case this is within another element that has text-shadow applied to it */
    text-transform: var(--Button-alt-typography-text-transform, var(--Button-typography-text-transform));
}

.Button--alt:hover,
.Button--alt[href^='tel']:hover,
.Button--alt:focus,
.Button--alt[href^='tel']:focus,
.Button--alt:active,
.Button--alt[href^='tel']:active {
    background: var(--Button-alt-background-hover, var(--Button-background-hover));
    border-color: var(--Button-alt-border-color-hover, var(--Button-border-color-hover));
    color: var(--Button-alt-typography-color-hover, var(--Button-typography-color-hover));
    font-style: var(--Button-alt-typography-font-style-hover, var(--Button-typography-font-style-hover));
    text-decoration: var(--Button-alt-typography-text-decoration-hover, var(--Button-typography-text-decoration-hover));
}

.Button--alt2,
.Button--alt2[href^='tel'] {
    background: var(--Button-alt2-background, var(--Button-background));
    border: var(--Button-alt2-border-width, var(--Button-border-width)) solid
        var(--Button-alt2-border-color, var(--Button-border-color));
    border-radius: var(--Button-alt2-border-radius, var(--Button-border-radius));
    color: var(--Button-alt2-typography-color, var(--Button-typography-color));
    font-family: var(--Button-alt2-typography-font-family, var(--Button-typography-font-family));
    font-size: var(--Button-alt2-typography-font-size, var(--Button-typography-font-size));
    font-style: var(--Button-alt2-typography-font-style, var(--Button-typography-font-style));
    font-weight: var(--Button-alt2-typography-font-weight, var(--Button-typography-font-weight));
    letter-spacing: var(--Button-alt2-typography-letter-spacing, var(--Button-typography-letter-spacing));
    line-height: var(--Button-alt2-typography-line-height, var(--Button-typography-line-height));
    padding: var(--Button-alt2-padding, var(--Button-padding));
    text-decoration: var(--Button-alt2-typography-text-decoration, var(--Button-typography-text-decoration));
    text-shadow: none; /* Done in case this is within another element that has text-shadow applied to it */
    text-transform: var(--Button-alt2-typography-text-transform, var(--Button-typography-text-transform));
}

.Button--alt2:hover,
.Button--alt2[href^='tel']:hover,
.Button--alt2:focus,
.Button--alt2[href^='tel']:focus,
.Button--alt2:active,
.Button--alt2[href^='tel']:active {
    background: var(--Button-alt2-background-hover, var(--Button-background-hover));
    border-color: var(--Button-alt2-border-color-hover, var(--Button-border-color-hover));
    color: var(--Button-alt2-typography-color-hover, var(--Button-typography-color-hover));
    font-style: var(--Button-alt2-typography-font-style-hover, var(--Button-typography-font-style-hover));
    text-decoration: var(
        --Button-alt2-typography-text-decoration-hover,
        var(--Button-typography-text-decoration-hover)
    );
}

/**
 * Size modifiers
 */

.Button--lg,
.Button--lg[href^='tel'] {
    font-size: var(--Button-lg-font-size, 2.4rem);
    padding: var(--Button-lg-padding);
}

.Button--sm,
.Button--sm[href^='tel'] {
    font-size: var(--Button-sm-font-size);
    padding: var(--Button-sm-padding);
}

.Button--smFull {
    width: 100%;
}

@media (--m-sm) {
    .Button--smFull {
        width: auto;
    }
}

/** Button styles for when the button has an icon beside the text */

.Button--withIcon {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
}
