{% import 'macros/macros' as macros %}

<div class="py-2">
    <div class="h3 flex align-center g-1">{{ macros.iconImg('search', 'Search') }} Calendar Search</div>
    <div class="pt-1">
        {{ searchForm.openTag }}
            <div class="flex align-center g-1">
                <input type="text" class="TextInput" name="{{ searchForm.fields.term.name }}" placeholder="Enter search term">
                <button type="submit" class="Button">Search</button>
            </div>
        {{ searchForm.closeTag }}
    </div>
</div>
