/* =========================================================================== *\
    Message
\* =========================================================================== */

/* @define Message */
.Message {
    border-radius: var(--Message-border-radius);
    padding: var(--Message-padding, 20px);
}

.Message--success {
    background-color: var(--Message-background-success);
    color: var(--Message-color-success);
}

.Message--failure {
    background-color: var(--Message-background-failure);
    color: var(--Message-color-failure);
}
