/* =========================================================================== *\
    Message
\* =========================================================================== */

/* @define Message */
.Message {
    border-radius: var(--Message-border-radius);
    margin-bottom: var(--base-typography-spacing, 2.5rem);
    padding: var(--Message-padding, 20px);
}

.Message--success {
    background-color: var(--Message-background-success);
    color: var(--Message-color-success);
}

/* postcss-bem-linter: ignore */
.Message--success a {
    color: var(--Message-color-success);
}

.Message--failure {
    background-color: var(--Message-background-failure);
    color: var(--Message-color-failure);
}

/* postcss-bem-linter: ignore */
