/* =========================================================================== *\
    Message
\* =========================================================================== */

/* :root {
    --Message-paddingVertical: 20px;
    --Message-paddingHorizontal: 20px;
    --Message-borderRadius: 0;
    --Message-background--success: #0c263c;
    --Message-color--success: #fff;
    --Message-background--failure: #992c41;
    --Message-color--failure: #fff;
} */

/* @define Message */
.Message {
    border-radius: var(--Message-borderRadius);
    padding: var(--Message-paddingVertical) var(--Message-paddingHorizontal);
}

.Message--success {
    background-color: var(--Message-background--success);
    color: var(--Message-color--success);
}

.Message--failure {
    background-color: var(--Message-background--failure);
    color: var(--Message-color--failure);
}
