/* =========================================================================== *\
    Field Label
\* =========================================================================== */

.FormLabel {
    margin: var(--FormLabel-margin-top, 0) var(--FormLabel-margin-right, 0) var(--FormLabel-margin-bottom, 0)
        var(--FormLabel-margin-left, 0);
}

.FormLabel--mb0 {
    margin-bottom: 0;
}

.FormLabel--block {
    display: block;
}
