/* =========================================================================== *\
    Form Overlay
\* =========================================================================== */

/* @define FormOverlay */
.FormOverlay {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.FormOverlay-text {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
