/* =========================================================================== *\
    Required Asterisk
\* =========================================================================== */

/* @define FormRequired */

.FormRequired {
    color: var(--FormRequired-color, #b2130c);
    display: var(--FormRequiredMessage-asterisk-display, inline);
}

.FormRequired-message {
    display: var(--FormRequiredMessage-display, block);
}
