/* =========================================================================== *\
    Select Input
\* =========================================================================== */

/* @define SelectMenu */
.SelectMenu {
    background: var(--SelectMenu-background, #fff);
    border: var(--SelectMenu-border-width, 1px) solid var(--SelectMenu-border-color, #777);
    border-radius: var(--SelectMenu-borderRadius, 0);
    display: inline-flex;
    outline: none;
    position: relative;
    width: 100%;
}

/* ------------------------------------ *\
    Arrow
\* ------------------------------------ */

/* Don't add the triangle to select menus that use TomSelect. If the select menu has the class "js-select" then it will use TomSelect */

.SelectMenu:not(.js-select)::before {
    background: none;
    border: 6px solid;
    border-color: var(--SelectMenu-arrow-color, #777) transparent transparent transparent;
    content: '';
    height: 0;
    padding: 0;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-25%);
    width: 0;
}

/* ------------------------------------ *\
    Select Input Reset
\* ------------------------------------ */

/* postcss-bem-linter: ignore */
.SelectMenu > select {
    appearance: none;
    background: transparent;
    border: 0;
    color: var(--SelectMenu-color, #333);
    display: block;
    margin: 0;
    outline: 0;
    padding: var(--SelectMenu-padding, 5px 10px);
    position: relative;
    width: 100%;
}
