/* =========================================================================== *\
    Text Input
\* =========================================================================== */

/* @define TextInput */
.TextInput {
    background: var(--TextInput-background, #fff);
    border: var(--TextInput-border-width, 1px) solid var(--TextInput-border-color, #777);
    border-radius: var(--TextInput-border-radius, 0);
    color: var(--TextInput-color, #333);
    outline: none;
    padding: var(--TextInput-padding, 5px 10px);
    width: 100%;
}

.TextInput:focus {
    outline: auto 5px -webkit-focus-ring-color;
}
