/* ==========================================================================
   TextInput
   ========================================================================== */

/** @define TextInput */

/**
 * Provides custom styling for text input fields and textareas
 */

.TextInput {
    background: var(--TextInput-background);
    border: var(--TextInput-borderWidth) solid var(--TextInput-borderColor);
    border-radius: var(--TextInput-borderRadius);
    box-sizing: border-box;
    color: var(--TextInput-color);
    outline: none;
    padding: var(--TextInput-paddingVertical) var(--TextInput-paddingHorizontal);
    width: 100%;
}

/**
 * UI states
 */

.TextInput.is-invalid {
    color: var(--TextInput-errorColor);
    outline: 1px solid var(--TextInput-errorColor);
}

.TextInput.is-valid {
    color: var(--TextInput-successColor);
    outline: 1px solid var(--TextInput-successColor);
}

/**
 * Input inline with a button beside it.
 * Trying to get the heights to match cross-browser
 */

.TextInput--inline {
    height: 38px;
}

.TextInput:focus {
    outline: 1px dotted #212121;
    outline: auto 5px -webkit-focus-ring-color;
}
