{% extends "one-column" %}

{% block banner %}
    {% set title = "Search" %}
    {% include("content-layouts/banner") %}
{% endblock %}

{% block main %}
    <div class="Container Container--pad">
        {{ form.content }}
    </div>
{% endblock %}
