/* =========================================================================== *\
    Notifications
\* =========================================================================== */

/* :root {
    --Notification-title-fontFamily: sans-serif;
    --Notification-title-fontSize: 2.4rem;
    --Notification-title-fontSize--sm: 2rem;
    --Notification-title-fontWeight: 600;
    --Notification-title-lineHeight: 1.2;
    --Notification-title-letterSpacing: 0;
    --Notification-title-textTransform: uppercase;
} */

/* @define Notification */
.Notification {
    background-color: var(--Notification-background);
    color: var(--Notification-color);
    padding: var(--Notification-paddingVertical) var(--Notification-paddingHorizontal);
    text-align: center;
}

.Notification-more {
    background-color: transparent;
    border: none;
    color: var(--Notification-color);
    margin-left: 20px;
    text-decoration: underline;
    text-transform: var(--Notification-title-textTransform);
}

.Notification-more:focus-visible {
    color: var(--Notification-color);
}

@media (hover: hover) and (pointer: fine) {
    .Notification-more:hover {
        color: var(--Notification-color);
    }
}

.Notification-title {
    align-items: center;
    display: flex;
    font-family: var(--Notification-title-fontFamily);
    font-size: var(--Notification-title-fontSize--sm);
    font-weight: var(--Notification-title-fontWeight);
    letter-spacing: var(--Notification-title-letterSpacing);
    line-height: var(--Notification-title-lineHeight);
    text-transform: var(--Notification-title-textTransform);
}

.Notification-alert {
    font-size: calc(var(--Notification-title-fontSize) * 1.5);
    margin-right: 20px;
}

.Notification-close {
    background-color: transparent;
    border: none;
    color: var(--Notification-color);
    display: flex;
    font-size: var(--Notification-close-fontSize);
    padding: 0;
}

.Notification-icon {
    margin: 0 !important;
}

.Notification-placeholder {
    width: var(--Notification-close-fontSize);
}

@media (--c-bp-md) {
    .Notification-title {
        font-size: var(--Notification-title-fontSize);
    }
}
