{# Simple list of links. Useful for displaying on a page within the page content. #}

{# Macro that handles building each "tree" of the navigation menu. #}
{% macro menu_items(items, hasParentItem) %}
    {% for item in items %}
        {# ASSIGN MENU ITEM CLASS #}
        {% set class = "ListNav-item " ~ item.link.class %}
        <li class="{{ class|trim }}">
            {# ASSIGN MENU LINK CLASS #}
            {% set item.link.class = item.link.class ~ ' ListNav-link' %}

            {{ item.link.tag }}
            {% if item.subItems %}
                <ul>
                    {% import _self as macros %}
                    {{ macros.menu_items(item.subItems, false) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{# Import the macro so that it can be used #}
{% import _self as macros %}

{# Build the navigation menu #}
<ul class="ListNav">
    {{ macros.menu_items(items, true) }}
</ul>
