{# Macro that handles building each "tree" of the navigation menu. #}
{% macro menu_items(items, hasParentItem) %}
    {% for item in items %}
        {# ASSIGN MENU ITEM CLASS #}
        {% set class = "SidebarNav-item " ~ item.link.class %}
        <li class="{{ class|trim }}">
            {# ASSIGN MENU LINK CLASS #}
            {% set item.link.class = item.link.class ~ ' SidebarNav-link' %}
            {# Highlight the parent navigation item. It would be the first item #}
            {% if hasParentItem and loop.index == 1 %}
                {% set item.link.class = item.link.class ~ ' SidebarNav-link--isParent' %}
            {% endif %}

            {{ item.link.tag }}
            {% if item.subItems %}
                <ul>
                    {% import _self as macros %}
                    {{ macros.menu_items(item.subItems, false) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{# Import the macro so that it can be used #}
{% import _self as macros %}

{# Build the navigation menu #}
<ul class="SidebarNav">
    {{ macros.menu_items(items, true) }}
</ul>
