/* =========================================================================== *\
    SVG Icons
\* =========================================================================== */

.Icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    line-height: 1em;
    stroke: currentColor;
    stroke-width: 0;
    vertical-align: bottom;
    width: 1em;
}
