<div class="Container Container--pad">
    <div class="grid g-3">
        <div class="col-1-1 col-lg-1-3 mb-2">
            {% for element in columns.0.elements %}
                {{ element.content }}
            {% endfor %}
        </div>
        <div class="col-1-1 col-lg-2-3 col-1-1 mb-2">
            {% for element in columns.1.elements %}
                {{ element.content }}
            {% endfor %}
        </div>
    </div>
</div>
