<div class="Container Container--pad">
    <div class="grid g-3 nc-1 nc-2-md">
        {% for column in columns %}
            <div class="col-1-1 col-1-2-md">
                {% for element in column.elements %}
                    {{ element.content }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
