<div class="grid g-4 nc-1 nc-3-md nc-6-lg">
    {% for column in columns %}
        <div class="col-1-1 col-1-3-md col-1-6-lg">
            {% for element in column.elements %}
                {{ element.content }}
            {% endfor %}
        </div>
    {% endfor %}
</div>
