{% if audioFile %}
    {% import 'macros/macros' as macros %}
    <div class="Container Container--pad{{ macros.blockMargin(margin) }}{{ macros.blockWidth(width) }}">
        <audio controls preload="metadata" class="w-100">
            <source src="{{ audioFile.src }}">
            Your browser does not support the audio tag.
        </audio>
    </div>
{% endif %}
