{# Build the smaller banner with a single image or video #}
{% import 'macros/banner' as bannerMacros %}

{% if heading or image or video or content %}
    <div class="Banner{% if not image && not video %} Banner--noMedia{% endif %}" role="group" aria-label="Banner">
        {% if image %}
            {{ bannerMacros.bannerImage(
                image,
                imageCrop,
                _core.theme.settings.bannerBarImageSizes,
                _core.theme.settings.bannerBarMinImageRatio,
                _core.theme.settings.bannerBarImageRatio,
                _core.theme.settings.bannerImageCropStrategy,
                _core.theme.settings.bannerBarImageCropOrientation,
                content|length > 0 or heading|length > 0,
                true
            ) }}
        {% elseif video %}
            {{ bannerMacros.bannerVideo(video, core.theme.settings.bannerBarImageSizes, true) }}
        {% endif %}

        {% if heading or content %}
            {% if image or video %}
                <div class="Banner-fg"></div>
            {% endif %}
            <div class="Banner-content">
                <div class="Banner-contentInner first-child-st-0 last-child-sb-0">
                    {% if heading %}
                        <h1>{{ heading }}</h1>
                    {% endif %}
                    {% if content %}
                        {{ content }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
