{% if image and content %}
    <div class="Container Container--pad">
        <div class="grid">
            <div class="col-1-1 col-lg-1-2 {{ imagePosition == "Right" ? 'order-lg-2' }}">
                {% do image.resize(800) %}
                {% do image.lazy() %}
                {% set image.class = "w-100" %}
                <div class="flex align-center h-100">
                    {{ image.tag }}
                </div>
            </div>
            <div class="col-1-1 col-lg-1-2 {{ imagePosition == "Right" ? 'order-lg-1' }}">
                <div class="p-2 p-lg-5 flex align-center h-100">
                    <div class="clearfix first-child-st-0 last-child-sb-0">{{ content }}</div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
