{% if video %}
    {% import 'macros/macros' as macros %}
    <div class="{{ macros.blockMargin(margin) }}{{ macros.blockWidth(width, true) }}">
        <div class="my-5">
            {% if thumbnail %}
                {% do thumbnail.crop({ ar: '16x9' }) %}
            {% endif %}
            <video controls preload="metadata" class="w-100" {{ thumbnail ? 'poster="' ~ thumbnail.src ~ '"' }}>
                <source src="{{ video.src }}">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
{% endif %}
