/* =========================================================================== *\
    PAGINATION
    Adds styles to the Cacao Pagination component
\* =========================================================================== */

/**  @define Pagination */
.Pagination {
    align-items: center;
    display: flex;
    justify-content: center;
}

.Pagination .Pagination-item:first-child {
    margin-left: 0;
}

.Pagination .Pagination-item:last-child {
    margin-right: 0;
}
