/* =========================================================================== *\
    Content Wrapper
\* =========================================================================== */

/* :root {
    --wrapper-paddingVertical--sm: 50px;
    --wrapper-paddingHorizontal--sm: 50px;
} */

[class*=wrapper-] {
    padding: var(--wrapper-paddingVertical--sm) var(--wrapper-paddingHorizontal--sm);
}

[class*=col-] [class*=wrapper-] {
    padding-left: 0;
    padding-right: 0;
}

[class*=wrapper-] .Container > *:first-child {
    margin-top: 0;
}

[class*=wrapper-] .Container > *:last-child {
    margin-bottom: 0;
}

/* ------------------------------------ *\
    Light Blue Gradient
\* ------------------------------------ */

/* :root {
    --wrapper-lightBlueGradient-background--from: #D0E3E9;
    --wrapper-lightBlueGradient-background--to: #5A87A3;
    --wrapper-lightBlueGradient-color: #00263E;
} */

.wrapper-lightBlueGradient {
    background: linear-gradient(90deg, var(--wrapper-lightBlueGradient-background--from), var(--wrapper-lightBlueGradient-background--to));
}

.wrapper-lightBlueGradient *:not(.Button) {
    color: var(--wrapper-lightBlueGradient-color);
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

/* :root {
    --wrapper-paddingVertical: 45px;
    --wrapper-paddingHorizontal: 160px;
} */

@media (--c-bp-lg) {
    [class*=wrapper-] {
        padding: var(--wrapper-paddingVertical) var(--wrapper-paddingHorizontal);
    }
}
