/* ===========================================================================
    Icon grid styles
=========================================================================== */

/* @define IconGrid */

.IconGrid {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: var(--IconGrid-gap-size);
    justify-content: center;
}

.IconGrid-icon {
    width: var(--IconGrid-icon-size);
}

/* The selector is more specific so that the styles are applied when in a container that may override styles, like a .Wrapper */
.IconGrid .IconGrid-item {
    align-items: center;
    background-color: var(--IconGrid-background-color);
    border: var(--ImageGrid-border);
    display: flex;
    flex-direction: var(--IconGrid-textPosition);
    gap: var(--IconGrid-gap-size-image-text);
    justify-content: center;
    padding: var(--IconGrid-item-padding);
    text-decoration: none;
}

/* The selector is more specific so that the styles are applied when in a container that may override styles, like a .Wrapper */
.IconGrid .IconGrid-link:hover {
    background-color: var(--IconGrid-background-color-hover);
    border: var(--IconGrid-border-hover);
    color: var(--IconGrid-text-hover);
    text-decoration: var(--IconGrid-text-decoration-hover);
    transform: scale(var(--IconGrid-scale-stepper));
}
