/* =========================================================================== *\
    Secondary Navigation
\* =========================================================================== */

/* :root {
    --SecondaryNav-fontFamily: inherit;
    --SecondaryNav-fontSize: 1.6rem;
    --SecondaryNav-lineHeight: 1.2;
    --SecondaryNav-textTransform: uppercase;
    
    --SecondaryNav-item-paddingVertical: 0;
    --SecondaryNav-item-paddingHorizontal: 25px;
    --SecondaryNav-item-paddingVertical--sm: 10px;
    --SecondaryNav-item-fontWeight: 400;
    --SecondaryNav-item-letterSpacing: 0;
    
    --SecondaryNav-link-background: transparent;
    --SecondaryNav-link-color: #00263E;
    
    --SecondaryNav-link-background--hover: transparent;
    --SecondaryNav-link-color--hover: #6AAC44;
} */

/* @define SecondaryNav */
.SecondaryNav {
    align-items: center;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--SecondaryNav-fontFamily);
    font-size: var(--SecondaryNav-fontSize);
    justify-content: center;
    line-height: var(--SecondaryNav-lineHeight);
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    row-gap: 10px;
    text-transform: var(--SecondaryNav-textTransform);
}

.SecondaryNav-item {
    font-weight: var(--SecondaryNav-item-fontWeight);
    letter-spacing: var(--SecondaryNav-item-letterSpacing);
    padding: var(--SecondaryNav-item-paddingVertical--sm) 0;
    text-align: center;
    width: 100%;
}

@media (hover: hover) and (pointer: fine) {
    .SecondaryNav-item:hover {
        text-shadow: 0 0 1px currentColor;
    }
}

/* postcss-bem-linter: ignore */
.SecondaryNav-item.Dropdown::after,
.SecondaryNav-item .Dropdown-link--parent::after {
    background-color: var(--SecondaryNav-link-color);
    content: '';
    height: 25px;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Echevron-down%3C/title%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /%3E%3C/svg%3E");
    position: absolute;
    right: 20px;
    top: 8px;
    transition: transform 250ms;
    width: 25px;
}

.SecondaryNav-item .Dropdown-link--parent::after {
    background-color: var(--Dropdown-link-color--sm);
}

/* postcss-bem-linter: ignore */
.SecondaryNav-item.Dropdown.is-active::after,
.SecondaryNav-item .Dropdown-link--parent.is-active::after {
    background-color: var(--SecondaryNav-link-color--hover);
    transform: rotate(180deg);
}

.SecondaryNav-link {
    background: var(--SecondaryNav-link-background);
    box-sizing: border-box;
    color: var(--SecondaryNav-link-color);
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.SecondaryNav-item.is-current > .SecondaryNav-link,
.SecondaryNav-item.is-currentParent > .SecondaryNav-link,
.SecondaryNav-item:hover > .SecondaryNav-link {
    background: var(--SecondaryNav-link-background--hover);
    color: var(--SecondaryNav-link-color--hover);
    text-decoration: none;
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (--c-bp-xl) {
    .SecondaryNav {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    
    .SecondaryNav-item {
        padding: var(--SecondaryNav-item-paddingVertical) var(--SecondaryNav-item-paddingHorizontal);
        width: unset;
    }
    
    .SecondaryNav-item--small {
        display: none;
    }
    
    .SecondaryNav-item.is-first {
        padding-left: 0;
    }
    
    .SecondaryNav-item.is-last {
        padding-right: 0;
    }
    
    
    .SecondaryNav-item.is-current > .SecondaryNav-link::after,
    .SecondaryNav-item.is-currentParent > .SecondaryNav-link::after,
    .SecondaryNav-item:hover > .SecondaryNav-link::after {
        background-color: var(--underline-color);
        bottom: -5px;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
    }

}
