<div class="Container Container--pad">
    <div class="embed my-5 aspect-{{ embedRatio|replace(':', '-') }}">
        <iframe frameborder="0" allowfullscreen src="{{ iframeTag.src }}" title="{{ title }}" loading="lazy"></iframe>
    </div>
</div>
