<div class="Container Container--block">
    {% for url in embedUrl.urlInfo %}
        <div class="embed my-5 aspect-{{ embedRatio|replace(':', '-') }}">
            <iframe frameborder="0" allowfullscreen src="{{ url.iframeEmbed.src }}" title="{{ url.title }}" loading="lazy"></iframe>
        </div>
    {% endfor %}
</div>
