/* =========================================================================== *\
    Popup Modal
\* =========================================================================== */

/* :root {
    --Modal-background: #fff;
    --Modal-color: #333;
    --Modal-width: 500px;
    --Modal-borderRadius: 0;
    
    --Modal-overlay-background: rgba(0, 0, 0, .6);
    
    --Modal-header-paddingVertical: 20px;
    --Modal-header-paddingHorizontal: 20px;
    
    --Modal-content-paddingVertical: 20px;
    --Modal-content-paddingHorizontal: 20px;
} */

/* @define Modal */
.Modal {
    display: none;
}

.Modal.is-open {
    display: block;
}

.Modal-overlay {
    align-items: center;
    background: var(--Modal-overlay-background);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.Modal-container {
    background-color: var(--Modal-background);
    border-radius: var(--Modal-borderRadius);
    box-sizing: border-box;
    color: var(--Modal-color);
    margin: 20px;
    max-height: 100vh;
    max-width: var(--Modal-width);
    overflow-y: auto;
    width: 100%;
}

.Modal-header {
    display: flex;
    justify-content: flex-end;
    padding: var(--Modal-header-paddingVertical) var(--Modal-header-paddingHorizontal);
}

.Modal-close {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.Modal-close::before {
    color: var(--Modal-color);
    content: '\2715';
}

.Modal-content {
    padding: 0 var(--Modal-content-paddingHorizontal) var(--Modal-content-paddingVertical) var(--Modal-content-paddingHorizontal);
}
