/* ===========================================================================
    Image gallery block styles
=========================================================================== */

/* @define ImageGallery */

/* postcss-bem-linter: ignore */
.ImageGallery.grid {
    --gap: var(--ImageGallery-gap, 20px); /* set the --gap variable that is used by the Cacao grid utility */

    gap: var(--gap);
    margin: var(--ImageGallery-margin, 2.5rem 0);
}
