/* =========================================================================== *\
    This is used for the Small Image component.
    It is based on the Cacao image component.
    https://aptuitiv.github.io/cacao/styles/image
    The variables come from the Cacao image variables.
    https://aptuitiv.github.io/cacao/styles/image#image-variables-source-css
\* =========================================================================== */

/* @define ImageWrapper */

.ImageWrapper {
    margin-bottom: var(--image-bottom-margin);
}

.ImageWrapper--default {
    margin: 0 0 var(--base-typography-spacing, 2.5rem);
}

.ImageWrapper--center {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 var(--base-typography-spacing, 2.5rem);
}

@media (--m-sm) {
    .ImageWrapper--left,
    .ImageWrapper--right {
        display: inline;
        max-width: var(--image-max-width-sm);
    }

    .ImageWrapper--left {
        float: left;
        margin-right: var(--image-right-margin);
    }

    .ImageWrapper--right {
        float: right;
        margin-left: var(--image-left-margin);
    }
}

@media (--m-md) {
    .ImageWrapper--left,
    .ImageWrapper--right {
        max-width: var(--image-max-width-md);
    }
}

/* Size modifiers for wrap mode */

.ImageWrapper--half {
    --image-max-width-sm: 50%;
    --image-max-width-md: 50%;
}

.ImageWrapper--two-third {
    --image-max-width-sm: 50%;
    --image-max-width-md: 66.666%;
}

.ImageWrapper--third {
    --image-max-width-sm: 50%;
    --image-max-width-md: 33.333%;
}

.ImageWrapper--quarter {
    --image-max-width-sm: 50%;
    --image-max-width-md: 25%;
}
